<!DOCTYPE html>
<html>
  <head>
    <title> {{job.title}} - Niharika Careers </title>
    <link rel="icon" type="image/x-icon" href="/static/logo.png">
    {% include 'bootstrap.html' %}
  </head>
  <body>
    <nav>
      {% include 'nav.html' %}
    </nav>
    {% include 'banner.html' %}
    <div class="container">
      <h1 class="home-title text-center mt-2 mb-4"> Niharika Careers</h1>
      <div class="mb-2">
        <h3> {{job.title}} </h3>
      </div>
      <div class="lead mt-0">
        <p>{{job['location']}}</p>
      </div>
      <div>
        <h4>Responsibilities: </h4>
        <ul>
          {% for line in job.responsibilities.split('\n') %}
            <li>{{line}}</li>
          {% endfor %}
        </ul>
      </div>
      <div>
        <h4>Requirements: </h4> 
        <ol>
          {% for line in job.requirements.split('\n') %}
            <li>{{line}}</li>
          {% endfor %}
        </ol>
      </div>
      <div>
        <h4>Salary: </h4> 
        <p>{{job['salary']}} {{job['currency']}}</p>
      </div>
    </div>
    <footer>
       {% include 'footer.html' %}
    </footer>
  </body>
</html>